body {
    font-family: Roboto, Arial, sans-serif;
}

.header {
  display: flex; 
  justify-content: space-between;   
}

.links {
    display: flex;
    gap: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.top, .footer {
    background-color: #1F2937;
}

.top {
    padding: 20px 180px 150px 180px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.second-text, a, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.content {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

img.clouds {
    height: 300px;
    width: 600px;
}

.top-main {
    width: 500px;
}

.second-text {
    margin: 8px 0px 15px 0px;
}

.sign-up {
    border:2px solid #3882F6;
}

button {
    font-size: 18px;
    font-weight: 800;
    padding: 0px 40px;
    height: 40px;  
}
.random {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 48px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 120px;
}

.pics {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.text {
    text-align:center;
}
.box {
    max-width: 200px;
}

button, .action-box {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.words {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
    max-width: 970px;
    
}

.author {
    font-weight: 800;
    font-size: 20px;
    text-align: right;
    margin: 18px 14px 0px 0px;
    font-style: normal;
}

.bottom {
    display: flex;
    justify-content: center;
}
.action-box {
    display: flex;
    padding: 50px 100px;
    margin: 100px 200px;
    flex: 1;
    justify-content: space-between;
}

.action {
    font-size: 24px;
    font-weight: 800;
}

.sign-up2 {
    border:2px solid #F9FAF8;
    }

.product {
    font-size: 18px;
}
